body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


/*styling the navbar section starts here*/

.container-fluid{
  height: 4rem;
  background-color: rgb(190, 132, 132);
}

/*styling of the books' search bar starts here*/


center{
  margin: auto;
}

#header {
  font-family: sans-serif;
  font-size: 5rem;
  color:  rgb(190, 132, 132);
}
.input-group{
  height: 1rem;
  padding-left: 4rem;
}

h2 {
  font-family: sans-serif;
  
}
h1{
  padding-top: 8rem;
}
.book-list {
  margin-top: 50px;
  visibility: hidden;
}

#search{
  float: left;
  width: 10%;
  padding: 8px;
  background: rgb(190, 132, 132);
  color: white;
  font-size: 37px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.text-center{
  font-family: sans-serif;
  font-size: 5rem;
  margin-top: 5rem;
}
.btn{
  background-color: rgb(155, 116, 116);;
  font-family: sans-serif;
}

#back{
    background-image: url("images/bagj.jpg");
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    background-position: center;
    background-size: cover;
    bottom: 3rem;
    height: 70rem;
   
}
.input-group{
  width: 40%;
  top: 10rem;
}

/*stying the how it works section*/
#works{
  text-align: center;
}

/*styling of the Student feedback section staryts here*/

/* Style the container with a rounded border, grey background and some padding and margin */
.test {
  border: 12px solid rgb(190, 132, 132);;
  border-radius: 5px;
  padding: 16px;
  margin: 16px;
  width: 15rem;
}

/* Clear floats after containers */
.test::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.test img {
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.test span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .test{
    text-align: center;
  }

  .test img {
    margin: auto;
    float: none;
    display: block;
  }
}
.wrap{
  width: 100px;
  display: flex;
  grid-gap: 200px;
  margin-left: 28rem;
  padding-top: 4rem;

}
#heading{
  text-align: center;
  bottom: 10rem;
}